<!-- <div class="h-full bg-fixed bg-cover bg-center" [ngStyle]="{'background-image': 'url(' + bgImages[0].urls.regular + ')'}">
    <p>{{bgImages[0].links.html}}</p>
</div> -->

<div class="flex flex-col gap-4 justify-center items-center text-center p-8 h-screen bg-gradient-to-r from-green-400 to-blue-500">
    <h1 class="font-sans text-6xl font-black text-white">HISTÓRIAS DO BRASIL</h1>
    <span class="font-sans text-sm text-white">Descubra <strong>fatos incríveis</strong> da nossa Patria Amada. Preserve o passado, <strong>colecione o futuro!</strong></span>
    <button mat-raised-button (click)="metamaskButton()">
        <mat-icon class="scale-150"><img src="https://upload.wikimedia.org/wikipedia/commons/3/36/MetaMask_Fox.svg"></mat-icon>
        <span>{{textButton}}</span> 
    </button>
</div>